<% flash.each do |key, msg| %>
  <div class="alert-message success">
  <%= content_tag :div, msg, :id => key %>
  </div>

<% end %>
<% content_for :head do %>
  <title>Event Registration</title>
<% end %>
<% content_for :pagename do %>
  Event Registration
<% end %>
